@page "/"
@using TmEssentials
@using TmEssentials.Razor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<input @bind="time" />

<p><FormattedText Text="Visit $l[https://gbx.tools]gbx.tools website!" AllowLinks="true" /></p>
<p><FormattedText Text="Check out $lhttps://example.com$l for more info" AllowLinks="true" /></p>

<p><FormattedText Text="Contact $h[bigbang1112]BigBang1112 for help!" AllowManialinks="true" /></p>
<p><FormattedText Text="Visit $hbigbang1112$h profile" AllowManialinks="true" /></p>

<p>
    <FormattedText Text="$o$l[https://gbx.tools]Bold Link$l and $i$h[user123]Italic Manialink$z"
               AllowLinks="false" AllowManialinks="true" /></p>

@code {
    private TimeInt32 time;
}